<!DOCTYPE html>
<html>
    <head>
        <title>Survey Sumo: Admin</title>
        <meta name="viewport" content="initial-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    </head>
    <body>
        <div id="root"></div>
        <script type="text/javascript" src="/js/admin-bundle.js"></script>
    </body>
</html>